<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["_content/Transportados.Client/lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["_content/MudBlazor/MudBlazor.min.css"]" />
    <link rel="stylesheet" href="@Assets["_content/Transportados.Client/app.css"]" />
    <link rel="stylesheet" href="@Assets["_content/Transportados.Client/Transportados.Client.bundle.scp.css"]" />
    <link rel="stylesheet" href="@Assets["Transportados.Web.styles.css"]" />
    <ImportMap />
    <meta name="theme-color" content="@TransportadosTheme.LogoGreen" />
    <link rel="icon" href="favicon.ico" sizes="any" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="@TransportadosTheme.LogoGreen" />
    <link rel="manifest" href="site.webmanifest" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <TransportadosThemeProvider />
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <ReconnectModal />
    <script src="@Assets["_content/Transportados.Client/js/transportados-signature-pads.js"]"></script>
    <script src="@Assets["_content/Transportados.Client/js/transportados-camera-capture.js"]"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["_content/MudBlazor/MudBlazor.min.js"]"></script>
</body>

</html>
